/*footer-container*/
.site-footer {
  font-family: "Anton", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  margin: 0 auto;
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #9b9999;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
}

//left part about
.about {
  margin: 0 auto;
  width: 40%;
}

//middle part categories
.categories {
  margin: 0 auto;
  width: 25%;
}

//right part links
.quickLinks {
  margin: 0 auto;
  width: 25%;
}

.site-footer h6 {
  color: rgba(255, 255, 255, 0.925);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

@media (max-width: 600px) {
  .site-footer {
    padding-bottom: 0;
    margin: 0 auto;
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 18px;
    color: #9b9999;
    display: inline-block;
    flex-wrap: wrap;
  }

  .about {
    width: 100%;
  }

  .categories {
    width: 100%;
  }

  .quickLinks {
    width: 100%;
  }
  
}
