li {
  list-style-type: none;
}
.cartCollection {
  display: inline-flex;
  flex-wrap: wrap;
}
.cartItem {
  margin-bottom: 15px;
  margin-right: 15px;
  width: 100%;
  height: 250px;
  width: 520px;
  display: flex;
}
.cartItemImg {
  img {
    height: 250px;
    width: 170px;
    border-radius: 2px;
  }
}
.cartDesc {
  margin: auto;
  width: 100%;
}
.cartPandQ {
  float: bottom;
  color: black;
  width: 100%;
}
.cartButton {
  button {
    height: 50px;
    background-color: red;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}
